@import './varibles';

#via-connect {
    position: fixed;
    right: 20px;
    bottom: 80px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    transition-property: visibility, opacity, bottom;
    backface-visibility: hidden;
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 5px 50px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden !important;
    opacity: 0;

    &.visible {
        opacity: 1;
        bottom: 90px;
    }
}

.form-body {
    padding: 15px;
    background: #f6f6f8;

    .form {
        .agreement {
            text-align: center;
            color: $p-color;
            margin-top: 10px !important;
            padding: 0 20px !important;
            font-size: 10px !important;
        }
    }

    .submit {
        margin-top: 20px;
    }
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    p {
        margin: 0;
        padding: 0;
    }

    svg {
        margin-inline-end: 10px;
    }
}

.header {
    background: #3677e0;

    p {
        color: #fff;
        font-size: 14px;
    }
}

.footer {
    background: #fff;
    margin-top: -15px;
    padding: 10px;

    p {
        color: $p-color;
        font-size: 10px;
    }
}

.message-wrapper {
        margin-bottom: 15px;

    h5 {
        margin: 0 0 10px;
        color: $gray1;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    
    .status {
        text-align: right;
        font-size: 10px;
        display: block;
        color: $gray2;
        margin-top: 5px;
    }

    .message {
        padding: 15px;
        background: #fff;
        overflow: hidden;
        color: #828385;
        text-align: start;

        input, textarea {
            width: 100%;
            font-size: 14px;
        }

        &.right {
            margin-inline-start: 20px;
            border-radius: 15px 15px 0 15px;
            background: $blue1;
        }

        &.left {
            margin-inline-end: 20px;
            border-radius: 15px 15px 15px 0;
            background: $blue2;
        }

        &.clear {
            background-color: #fff;
        }

        &__header {
            text-align: center;
            color: $main-color;
        }
        &__body {
            text-align: center;
            h3 {
                margin: 0 0 10px;
                font-weight: 600;
                font-size: 14px !important;
            }
            p {
                color: $gray2;
                margin-bottom: 10px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            margin: 13px -15px -15px;
            padding: 15px;
        }
    }
}
