@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './material';
@import './chat-button';
@import './form';
@import './greeting-message';
@import './varibles';

html {
    display: flex;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    width: 100%;
    background: $bg-color;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
